!!!
%html.no-js(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title Picoearth
    %link(rel="stylesheet" href="assets/css/font-awesome.min.css")
    %link(rel="stylesheet" href="assets/css/foundation.css")
    %link(href='http://fonts.googleapis.com/css?family=Share+Tech' rel='stylesheet' type='text/css')    
    %script(src="assets/js/vendor/modernizr.js")

  %body
    
    #top-nav
    .row
      .large-4.columns(data-equalizer-watch)

        #stats-panel.panel
          / Stats
          %h3
            Year:
            %span#year 1000

          - stats = {"population" => ["Population", "child"],
                    "birthrate" => ["Annual birth rate", ""],
                    "deathrate" => ["Annual death rate", ""],
                    "foodsource" => ["Food source", ""]}

          - stats.each do |stat, name_icon|
            - name = name_icon[0]
            - icon = name_icon[1]
            %div
              #{name}:
              %span(id="#{stat}") 
                0
              %i.fa(class="fa-#{icon}")
              %span(id="#{stat}-rate" style="font-size: 11px")

        / Log events
        %ul#log-accordion.accordion(data-accordion)
          %li.accordion-navigation
            %a#log-banner(href="#log") 
              Log
              %i.fa.fa-arrow-up.right
            #log.content.active
        
        %ul#graph-accordion.accordion(data-accordion)
          %li.accordion-navigation
            %a#graph-banner(href="#graph-area") 
              Graph
              %i.fa.fa-arrow-down.right

            / Graph area
            #graph-area.content
              

      .large-4.columns(data-equalizer-watch)
        
        / User interaction area

        .row
          .large-4.columns
            %button.success.round#forward-button
              %i.fa.fa-forward
              %span#game-speed-label

          .large-8.columns
            %button#mate-button
              %i.fa.fa-venus-mars
              Mate (+1 thousand humans)

        / Earth image
        %img(src="assets/img/seasonal_earth.gif")

        / Alert box area
        #alert-area

      / Technology tree
      .large-4.columns(data-equalizer-watch)

        .panel#tech-tree
                    
          %h2 Technology


    / Game over modal
    #modal-gameover.reveal-modal(data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
      %h1(style="text-align: center;") You destroyed Earth. Game over.

    /
    / Load scripts
    /
    %link(rel="stylesheet" href="assets/css/picoearth.css")
    %script(src="assets/js/vendor/jquery.js")
    %script(src="assets/js/vendor/jquery-ui-1.11.3/jquery-ui.min.js")
    %script(src="assets/js/foundation.min.js")
    %script(src="assets/js/Chart.min.js")
    %script(src="assets/js/events.js")
    %script(src="assets/js/techtree.js")
    %script(src="assets/js/picoearth.js")
    %script
      $(document).foundation();
