!!!
%html.no-js(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title Picoearth
    %link(rel="stylesheet" href="assets/css/foundation.css")
    %script(src="assets/js/vendor/modernizr.js")
  
  %body
    
    .row
      .large-4.columns

        .panel
          / Stats
          %h3
            Year:
            %span#year 1000

          - stats = {"population" => "Population",
                    "birthrate" => "Annual birth rate",
                    "deathrate" => "Annual death rate"}

          - stats.each do |stat, name|
            %div
              #{name}:
              %span(id="#{stat}") 0

        / User interaction area
        %button#mate-button Mate

        / Log events
        #log
          

      .large-8.columns

        / Technology tree
        %h2#techTree Technology

    /
    / Load scripts
    /

    %script(src="assets/js/vendor/jquery.js")
    %script(src="assets/js/foundation.min.js")
    %script(src="assets/js/picoearth.js")
    %script
      $(document).foundation();
