!!!
%html.no-js(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title Picoearth
    %link(rel="stylesheet" href="assets/css/foundation.css")
    %script(src="assets/js/vendor/modernizr.js")
  
  %body
    
    .row
      .large-6.columns

        / Stats
        %h3
          Year:
          %span#year 1000

        %div
          Population: 
          %span#human-count 0

        %div
          Birth rate:
          %span#birthrate 0

        %div
          Death rate:
          %span#deathrate 0

        / User interaction area
        %button#mate-button Mate

      .large-6.columns

        / Technology tree
        %h2 Technology

        .row
          .large-6.columns
            %button#lust-upgrade Promote Lust
          .large-6.columns
            %button#lust-downgrade Ban Lust

        .row
          .large-6.columns
            %button#pollution-upgrade Promote Pollution
          .large-6.columns
            %button#pollution-downgrade Ban Pollution

    %script(src="assets/js/vendor/jquery.js")
    %script(src="assets/js/foundation.min.js")
    %script(src="assets/js/picoearth.js")
    %script
      $(document).foundation();
