!!!
%html.no-js(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title Picoearth
    %link(rel="stylesheet" href="assets/css/foundation.css")
    %script(src="assets/js/vendor/modernizr.js")
  
  %body
    
    %h1 
      Humans: 
      %span#human-count 0
    %button#mate-button Mate

    %h2 Technology
    %button#lust-upgrade More lust

    %script(src="assets/js/vendor/jquery.js")
    %script(src="assets/js/foundation.min.js")
    %script(src="assets/js/picoearth.js")
    %script
      $(document).foundation();
